.container{
  background-image: url(../../../public/assets/crew/background-crew-desktop.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

.mainSection{
  color:white;
}