.container{
  background-image: url(../../../public/assets/destination/background-destination-desktop.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

.mainContainer{
   color: white;
   font-family: "Barlow",sans-serif;
}


.mainSection{
  display: flex;
  align-items: center;
  margin: 0 auto;
  align-items: center;
  padding-top: 4rem;
  max-width: 1340px;

}

.topTitle{
  max-width: 1340px;
  
  margin: 0 auto;
  
  letter-spacing: 0.3rem;
 
}
.topTitle h2{
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 400;
}

.image{
  width: 80%;
  height: auto;
}


.topTitle span {
  color: gray;
  padding-right: 1rem;
  font-weight: bold;
}

.leftSide{
  display: flex;
  flex: 1;
}

.rightSide{
  display: flex;
  flex: 1;
  gap:2.5rem;
  flex-direction: column;
}

.mainText{
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}

.mainText h2{
  font-family: "Bellefair",sans-serif;
  padding: 0;
  font-size: 6rem;
  margin: 0;
}

.mainText > p{
  font-weight: 300;
  display: block;
  text-align: start;
  font-size: 1.3rem;
  width: 70%;
  color: #d0d0d0;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.333);
}

.switch{
  display: flex;
  gap:2rem;
}

.buttonSwitch{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d0d0d0;
  font-size: 1rem;
  transition: 250ms;
}

.buttonSwitch:hover{
  color: #d0d0d079;
}

.distanceInfo{
  display: flex;
  gap:6rem;
}

.travelDesc{
  font-size: 1.2rem;
}

.distanceInfo h3{
  font-size: 2rem;
  font-weight: 300;
}

@media (max-width: 810px) {
  .mainSection {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: block;
   padding-left: 14rem;
   padding-top: 2rem;
  
  }

  .mainText p{
    width: 50%;
  }

 
  .image{
    width: 35%;
    padding-top: 0;
    height: auto;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  .topTitle{
    padding-left: 8rem;
  }
}

@media (max-width: 360px) {

          .mainSection{
            padding: 2rem;
            margin: 0 auto;
          }

          .mainText p{
            font-size: 1.2rem;
            width: 80%;
          }

          .mainText h2{
            font-size: 5rem;
          }
          
          .image{
            padding-left: 4rem;
          }

          .travelDesc{
            font-size: 1.2rem;
          }
          .distanceInfo{
            gap:2rem;
          }
          .time h3{
            font-size: 1.5rem;
          }

          .distance h3{
            font-size: 1.5rem;
          }

          .topTitle{
              padding-left: 1rem;
              font-size: 0.6rem;
              width: 100%;
              font-weight: bold;
          }
}